#action-title {
  flex: 1
}

mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    background-color: #fff;
    color: black;
}

button {
  margin: 0 auto;
}
  
#options-List {
  flex: 1;
}

.options-button {
  margin: 5
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}